<h1>Add a Movie</h1> 
<form method="POST" action="/movies/add">
        <br>Movie Info:</br>
        <input type="text" name="title" placeholder="Move Title"> by 
        <input type="text" name="director" placeholder="Director Name">
        (<input type="number" name="year" placeholder="Year">)
        <input type="submit" value="Add">
</form>

<br>
<a href="http://localhost:3000/mymovies">See My Movies</a>
</br>
<br>
<a href="http://localhost:3000/">Back To List</a>
</br>

