<h1>Let's Watch Some Movies!</h1>
<form method="GET" action="">
        Director:
        <input type="text" name="searchDirector">
        <input type="submit" value="filter">
</form>

{{#if filterInput}}
<h2>Showing only movies directed by: {{outputDirector}}<h2> 
{{/if}}


<table>
<thead>
<th>Movie</th><th>Year</th><th>Director</th>
</thead>
<tbody>
{{#each movies}}
<tr>
<td>{{this.title}}</td>
<td>{{this.year}}</td>
<td>{{this.director}}</td>
</tr>

{{/each}}
</tbody>
</table>



<br>
<a href="http://localhost:3000/movies/add">Add Some Movies</a>
</br>
<br> 
<a href="http://localhost:3000/mymovies">See My Movies</a>
</br>